<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses and income</title>
</head>
<body>
    <h1>Day to Day Expense</h1>
    <table>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Category</th>
          <th>Income</th>
          <th>Expense</th>
        </tr>
      </table>
      <br>
      <br> 
      <h1>Yearly Report</h1>
      <table>
        <tr>
          <th>Month</th>
          <th>Income</th>
          <th>Expense</th>
          <th>Savings</th>
        </tr>
      </table> 
      <br>
      <br>

      <h1>Notes Report</h1>
      <table>
        <tr>
          <th>Date</th>
          <th>Notes</th>
      </table>
      <br>
      <br>

 <button type="submit">Download</button>
</body>
</html>