<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Expense</title>
    <script script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<style>
h4{
    color:red
}
</style>
<body>
<form>
 Choose Expenditure:<input type="number" id="amount">
 Choose Description:<input type="text" id="Description">
 Choose a Category:<select id="category">
     <option>Fuel</option>
     <option>Food</option>
     <option>Electricity</option>
     <option>Movie</option>
     </select>
 <button type="submit" id="submitbutton">Add Expense</button>
</form>
<br>
<br>
<br>
<form>
    Number of rows per page<select id="nor">
        <Option>2</Option>
        <Option>3</Option>
        <Option>4</Option>
     </select>
    <button id="norsubmit"type="submit">Apply</button>
</form>

<h3>Expenses</h3>
<ul id="ListOftems"></ul>
<button type="submit"id="razorpay">Buy Premium Membership</ul>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<h4 id="h4"></h4>


<h3 id="h3"></h3>
<!-- <button id="ButtonOne">1</button>
<button id="ButtonTwo">2</button>
<button id="ButtonThree">3</button> -->
<Pagination id="Pagination"></Pagination>


<script>
const norsubmit=document.getElementById('norsubmit');
 norsubmit.addEventListener('click',nortoSubmit)
function nortoSubmit(e)
{
    e.preventDefault();
    const nor=Number(document.getElementById('nor').value)
    
    
    axios.post("http://localhost:3000/user/expense/dynamicpagination",{nor:nor})
    .then((result)=>{
        console.log(result)
        localStorage.setItem('nor',result.data.norNumber)
        location.reload();
       console.log(nor)
    }).catch((err)=>{
        console.log(err)
    })

}

const submitbutton=document.getElementById('submitbutton')
 submitbutton.addEventListener('click',additems)
 function additems(e)
 {
     e.preventDefault()
    const obj={
      Expenditure:document.getElementById('amount').value,
      Description:document.getElementById('Description').value,
      Category:document.getElementById('category').value,

     }
     const token=localStorage.getItem('token')
     axios.post("http://localhost:3000/user/expense/addexpense",obj,{headers:{"Authentication":token}})
     .then((result)=>{
       const ExpenseUser=result.data.ExpenseOfUser
        const ListOftems=document.getElementById('ListOftems')
   
       const li=document.createElement('li')

li.id="li"
li.append(ExpenseUser.Expenditure),li.append("----"),li.append(ExpenseUser.Description),li.append("----"),li.append(ExpenseUser.Category)
const deletebutton=document.createElement('button')
deletebutton.innerText="Delete";
deletebutton.onclick=(e)=>{
const litoremove=e.target.parentElement
const ExpensetoRemove=litoremove.childNodes[0].data
deleteitems(ExpenseUser,ExpensetoRemove)




ListOftems.removeChild(litoremove);
}
li.append(deletebutton);
ListOftems.append(li);

})

    
     .catch((error)=>{
         console.log(error)
     })
 }
 function showOnscreen(obj)
 {
    const ListOftems=document.getElementById('ListOftems')
   obj.forEach(element => {
   
       const li=document.createElement('li')

li.id="li"
li.append(element.Expenditure),li.append("----"),li.append(element.Description),li.append("----"),li.append(element.Category)
const deletebutton=document.createElement('button')
deletebutton.innerText="Delete";
deletebutton.onclick=(e)=>{
const litoremove=e.target.parentElement
const ExpensetoRemove=litoremove.childNodes[0].data
deleteitems(element,ExpensetoRemove)




ListOftems.removeChild(litoremove);
}
li.append(deletebutton);
ListOftems.append(li);

});

   
    }
    

   
   
 
 function removeListofitems()
   {
       const li=document.getElementById('li')

       const ListOftems=document.getElementById('ListOftems')
       ListOftems.innerHTML=""
    }
 function parseJwt (token) {
    var base64Url = token.split('.')[1];
    var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
    var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(jsonPayload);
}

 
 window.addEventListener('DOMContentLoaded',()=>{
    const token=localStorage.getItem('token')
    const nor=localStorage.getItem('nor')||2
    const decodedToken=parseJwt(token);
    if(decodedToken.ispremiumuser==true)
     {
        showpremiumuser()
     }
     axios.get("http://localhost:3000/user/expense/getexpense",
    {params:{page:1,nor:nor},headers:{"Authentication":token}})
     .then((result)=>{
        pagination(result.data)
             showOnscreen(result.data.result)

       
        //
    }).catch((error)=>{
    })
 })

 function fetchDetails(page,nor)
 {
    const token=localStorage.getItem('token')
    axios.get("http://localhost:3000/user/expense/getexpense",
    {params:{page:page,nor:nor||2},headers:{"Authentication":token}})
     .then((result)=>{
    
             showOnscreen(result.data.result)

         pagination(result.data)
        })
     .catch((error)=>{
         console.log(error)
     })
     
    }

const Pagination=document.getElementById('Pagination')
function pagination({
 previousPage,
currentPage,
 hasNextPage,
 hasPreviousPage,
 lastPage,
 nextPage
})
{
Pagination.innerHTML='';
const nor=localStorage.getItem('nor')
document.getElementById('nor').value=nor||2;
if(hasPreviousPage) 
 {

       const ButtonTwo=document.createElement('button')
       ButtonTwo.innerHTML=previousPage

       ButtonTwo.addEventListener('click',()=>{
        removeListofitems()  

        fetchDetails(previousPage,nor)




       })
       Pagination.appendChild(ButtonTwo)
       
    

   
 }
 
 const ButtonOne=document.createElement('button')
   ButtonOne.innerHTML=`<h3>${currentPage}</h3>`
   ButtonOne.addEventListener('click',()=>{
    fetchDetails(currentPage,nor)
    removeListofitems()  

})
   Pagination.appendChild(ButtonOne)

 
// if(hasPreviousPage && hasNextPage)
// {
//     const ButtonOne=document.createElement('button')
//    ButtonOne.innerHTML=`<h3>${currentPage}</h3>`
//    ButtonOne.addEventListener('click',()=>fetchDetails(currentPage))
//    document.body.appendChild(ButtonOne)
//    const ButtonTwo=document.createElement('button')
//    ButtonTwo.innerHTML=`<h3>${currentPage}</h3>`
//    ButtonTwo.addEventListener('click',()=>fetchDetails(currentPage))
//    document.body.appendChild(ButtonTwo)
// }

   if(hasNextPage) 
 {

   const ButtonThree=document.createElement('button')

   ButtonThree.innerHTML=nextPage
   ButtonThree.addEventListener('click',()=>{
       fetchDetails(nextPage,nor)
       removeListofitems()  

   })
   Pagination.appendChild(ButtonThree)

};
document.body.appendChild(Pagination)
}


    
 function deleteitems(obj,e)
 {
const token=localStorage.getItem('token')
    axios.delete(`http://localhost:3000/user/expense/deleteexpense/${obj._id}`,{headers:{"Authentication":token},data:{Expense:e}})
     .then((result)=>{
      console.log(result)
 })
 .catch((error)=>{
     console.log(error.response.data.message)
     const h4=document.getElementById('h4')
     h4.append(error.response.data.message);
     setTimeout(()=>{
         h4.remove()
     },2000)
 })
     
 }
 function showpremiumuser()
 {
 const razorpay=document.getElementById('razorpay')
                razorpay.remove();
                const h3=document.createElement('h3');
                h3.innerText="You are a premium user now"
                const button=document.createElement('button');
                button.innerText="Show Leaderboard"
                button.onclick=(e)=>{
                    showleaderboard(e)
                }
                const button1=document.createElement('button');
                button1.innerText="Download"
                button1.onclick=()=>{
                    const token=localStorage.getItem('token')
                     axios.get("http://localhost:3000/user/premiumuser/download",{headers:{"Authentication":token}}).then((result)=>{
                        const stringifiedfileUrl=JSON.stringify(result.data.fileUrl)

                        if(result.status===200)
                    {
                        
                    setTimeout(()=>{
                        var a=document.createElement("a");
                      //  a.href=stringifiedfileUrl;
                        a.download=stringifiedfileUrl;
                        a.click();  

                    },5000)
                    }
                    
                      
                    }).catch((error)=>{
                        console.log(error)
                    })

                }
                const button2=document.createElement('button');
                    button2.innerText="Show list of files downloaded";
                    button2.onclick=()=>{
                        const token=localStorage.getItem('token')
                        axios.get('http://localhost:3000/user/premiumuser/download/listoffiles',{headers:{"Authentication":token}}).then((result)=>{
                            console.log(result.data.data)

                            for(var i=0;i<result.data.data.length;i++)
                            {  
                                const li=document.createElement('li')

                                li.append("Your file with date ----->",result.data.data[i].FileUrl,)
                                document.body.append(li)

                            }
                            
                        }).catch((error)=>{
                            console.log(error)
                        })
                    }
                h3.append(" ",button," ",button1," ",button2)
                document.body.append(h3)

 }
 function showleaderboard(e)
 {
    e.preventDefault() 
    axios.get("http://localhost:3000/premiumuser/leaderboard")
    .then((result)=>{
        console.log(result)
        const h3=document.createElement('h3')
        h3.innerText="Leaderboard"
        result.data.sort((a,b)=>{
            return b.TotalExpense-a.TotalExpense
        })
        for (var i=0 ;i<result.data.length;i++)   
        {
            const li=document.createElement('li')
            li.append("Name:",result.data[i].Name,"-------","TotalExpense:",result.data[i].TotalExpense)
            h3.appendChild(li)    

        }

        document.body.append(h3)
    }).catch((err)=>{
        console.log(err)
    })
 }
//  function showalluserexpenses(obj)
//  {
//    const array=Object.values(obj.Expenditure)
//    console.log(array)
//     for(var i=0;i<obj.length;i++)
//    {
//         console.log(obj[i].Expenditure)
//          if(obj[i].Expenditure>obj[i+1].Expenditure)
//          {
//              var temp=obj[i].Expenditure
//              obj[i].Expenditure.value=obj[i+1].Expenditure
//              obj[i].Expenditure=temp
//          }
//         }
//         console.log(obj)

//     }


 const razorpay=document.getElementById('razorpay')
 razorpay.addEventListener('click',buypremium)
 function buypremium(e)
 {
    e.preventDefault()
    const token=localStorage.getItem('token') 
    axios.get("http://localhost:3000/user/buypremium",{headers:{"Authentication":token}})
    .then((result)=>{
        console.log(result);
        let options={
            "key":result.data.key_id,
            "order_id":result.data.order.id,
            "handler":async function(result)
            {
                
                alert('You are a Premium User Now');
                showpremiumuser()
                await axios.post("http://localhost:3000/purchase/updatetransactionstatus",{
                order_id:options.order_id,
                payment_id:result.razorpay_payment_id,
                },{headers:{"Authorization":token}}).then((result)=>{
                 localStorage.setItem('token',result.data.token)
                })
                
            },

        };
        const razorpay=new Razorpay(options);
        razorpay.open();
        
        razorpay.on('payment.failed',function(result){
            console.log(result.error)
            axios.post("http://localhost:3000/purchase/updatetransactionstatus",{
                order_id:result.error.metadata.order_id,
                payment_id:result.error.metadata.payment_id,
                
                error:result.error.reason,
            },{
                headers:{"Authorization":token}
            
            })
            alert('Something went wrong')
            
    }
        )
        
    })
    .catch((error)=>{
        console.log(error)
    })
 }

 
</script>

</html>